<!DOCTYPE html>
<html ng-app="roast">
    <head>
        <title>India Roasts</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <meta property="og:title" content="<%= title %>" />
		<meta property="og:type" content="Article" />
		<meta property="og:image" content="<%= imgUrl %>" />
		<meta property="og:url" content="<%= url %>" />		

        <link rel="icon" type="image/ico" href="/images/logo.jpg"/>

	    <script type="text/javascript" src="/appResources/library/angular/angular.min.js"></script>
	    <script type="text/javascript" src="/appResources/library/angular/angular-route-min.js"></script>
		<link rel="stylesheet" type="text/css" href="/appResources/library/TwitterBootStrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/appResources/styles/style.css">
		<script type="text/javascript" src="/appResources/app.js"></script>
		
	</head>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-68165761-1', 'auto');
	  ga('send', 'pageview');

	</script>

    <body ng-controller="roastIndexController">
        <!--Navbar Begin-->

        <div class="container-fluid" ng-class="{'darker':modalOpen}">
	        <div class="row">
	            <div class="col-xs-12 backColor">
	                <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-2 col-sm-1 hidden-md hidden-lg hand"> 
                                <i class="glyphicon glyphicon-menu-hamburger pull-left menuCollapseGlyph" ng-click="showToolBox()"></i>
                            </div>
                            <div class="col-xs-7 col-sm-9">
                                 <p class="hand pull-left titleRoast"><img src="/images/logo.jpg" style="height:52px" />India Roasts
                                 </p>
                            </div>
                            <div class="col-xs-3 col-sm-2">
                                <div class="userIcon">
                                    <span class="glyphicon glyphicon-off hand" ng-click="logout()" ng-if="isLoggedin" style="font-size:24px;padding-top:10px;margin-right:-75px"></span>
                                    <span class="glyphicon glyphicon-bell hand" ng-click="goToNotif()" ng-if="isLoggedin" style="font-size:24px;padding-top:10px;margin-right:-60px"></span>
                                    <span class="badge hand" ng-click="goToNotif()" ng-if="countNull" style="font-size:14px;padding-top: 3px;margin-left: 20px;margin-top:-33px;background-color:#F73636;">{{count}}</span>
                                    <p class="hand loginTxt" ng-click="loginModal()" ng-hide="isLoggedin">Login</p>
                                </div>
                            </div>
                        </div>
                    </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" ng-if="modalOpen">
		        <div class="col-xs-12 modalWindow">
		            <div class="row">
		                <div class="col-xs-12">
		                    <i class="glyphicon glyphicon-remove pull-right hand" ng-click="cancelModal()"></i>
		                </div>
		                <div class="col-xs-12">
		                    <div class="col-xs-12">
			                    <p class="mBottom20" align="center"><b>Login using</b></p>
			                </div>
			                <div class="col-xs-6 hand" style="display:table-cell;vertical-align:middle;text-align:center;border-right:1px solid;margin-top:15px" ng-click="GoToGoogleLogin()">
			                    <img src="/images/googleplusLg.png"/>
			                    <p>Google</p>
			                </div>
			                <div class="col-xs-6 hand" style="display:table-cell;vertical-align:middle;text-align:center;margin-top:15px" ng-click="GoToFacebookLogin()">
			                    <img src="/images/facebookLg.png" />
			                    <p>Facebook</p>
			                </div>
		               	</div>

			      		<form name="googleLogin" action="/auth/google" method="get"></form>
			      		<form name="facebookLogin" action="/auth/facebook" method="get"></form>
			   		</div>
			  	</div>
		    </div>
	        <div class="row tMar50" ng-hide="modalOpen">
	            <div class="toolClass" ng-class="{'mleft80' : toolBoxActive}">
	                <div class="toolBlock" ng-click="goToTrending()">
	                    <div class="interviewNo">
	                    	<i class="glyphicon glyphicon-flash"></i>
	                    </div>
	                    <div class="toolBoxText">
	                    	<b>Trending</b>
	                    </div>
	                </div>
	                <div class="toolBlock" ng-click="goToRoasts()">
	                    <div class="interviewNo"><i class="glyphicon glyphicon-fire"></i>
	                    </div>
	                    <div class="toolBoxText"><b>Roasts</b>
	                    </div>
	                </div>
	                <div class="toolBlock" ng-click="goToQnAPage()">
	                    <div class="interviewNo"><i class="glyphicon glyphicon-question-sign"></i>
	                    </div>
	                    <div class="toolBoxText"><b>Q & A</b>
	                    </div>
	                </div>
	                <div class="toolBlock" ng-click="goToHome()">
	                    <div class="interviewNo">
	                    	<i class="glyphicon glyphicon-home"></i>
	                    </div>
	                    <div class="toolBoxText">
	                    	<b>Home</b>
	                    </div>
	                </div>
	                <div class="toolBlock" ng-click="goToCreate()">
	                    <div class="interviewNo">
	                    	<i class="glyphicon glyphicon-pencil"></i>
	                    </div>
	                    <div class="toolBoxText"><b>Create/Ask</b>
	                    </div>
	                </div>
	                <div class="toolBlock" ng-click="goToAboutUs()">
	                    <div class="interviewNo"><i class="glyphicon glyphicon-info-sign"></i>
	                    </div>
	                    <div class="toolBoxText"><b>About Us</b>
	                    </div>
	                </div>
	            </div>
	            <div class="col-xs-12 toolLpad120">
	            	<div class="row">
		            	<div class="col-md-3 col-lg-2 dpBlock hidden-xs hidden-sm"  style="text-align:center" >
		            		<div>
		            			<img src="{{imgUserBig}}" class="profilePic"/>
		            		</div>
		            		<div>
		            			<p class="f20"><b>{{userName}}</b></p>
		            			<p style="font-size:10px;color:gray;">{{email}}</p>
		            		</div>
		            		<!-- <div class="col-xs-6">
		            			<p class="f20"><b>12</b></p>
		            			<p>Roasts</p>
		            		</div>
		            		<div class="col-xs-6">
		            			<p class="f20"><b>14</b></p>
		            			<p>Answers</p>
		            		</div> -->
		            	</div>
			            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0 col-lg-offset-0 col-lg-6 ngViewBG" ng-class="{'darker':modalOpen}" ng-click="hideToolBox()">
			                <!-- space for content -->
			                <div id="main">

						        <!-- angular templating -->
						        <!-- this is where content will be injected -->
						        <div ng-view></div>

						    </div>
		                </div>
			        </div>
	            </div>
	        </div>
    </div>
        <!-- Left Fixed Bar End-->
    </body>
</html>
