<div>
	<div class="container-fluid">
		<div class="row">
	        <div class="row">
	            <div class="col-xs-12" style="min-height:556px">
	            	<div class="row">
		            	<div class="col-xs-12 trendingTitle">
		            		Trending Now
		            	</div>
		            </div>
	                <div class="col-xs-12 trendBlock hand" ng-repeat="trends in trending">
	                    <div class="row" ng-click="goToRoast(trends)">
	                        <div class="col-xs-4">
	                            <img src="https://yt3.ggpht.com/-QSdUl6wilzo/AAAAAAAAAAI/AAAAAAAAAAA/BGrQrNGDA8U/s900-c-k-no/photo.jpg" class="roasteeImg" />
	                        </div>
	                        <div class="col-xs-8">
	                            <div class="row">
	                                <div class="col-xs-12 roasteeName">
	                                    <p>
	                                        "{{trends.quote}}"
	                                    </p>
	                                    <p class="f20">
	                                        <strong>-{{trends.name}}</strong>
	                                    </p>
	                                </div>
	                                <!-- <div class="col-xs-12 rpmText">
	                                	<div class="row">
		                                    <div class="col-xs-6 hidden-xs">
		                                    	Total Roasts: 
		                                    	<b style="font-size:18px;">{{trends.roastCounter}}</b>
		                                    </div>
		                                    <div class="col-xs-6 hidden-sm hidden-md hidden-lg">
		                                    	TR: 
		                                    	<b style="font-size:18px;">{{trends.roastCounter}}</b>
		                                    </div>
		                                    <div class="col-xs-6 hidden-xs pull-right">
		                                    	Roasts per minute: 
		                                    	<b style="font-size:18px;">{{trends.rpm}}</b>
		                                   	</div>
		                                   	<div class="col-xs-6 hidden-sm hidden-md hidden-lg pull-right">
		                                    	RPM: 
		                                    	<b style="font-size:18px;">{{trends.rpm}}</b>
		                                   	</div>
		                                </div>
	                                </div> -->
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-xs-12 trendBlock hand" ng-repeat="question in questions">
	                    <div class="row" ng-click="goToDebate(question)">
	                         <div class="col-xs-12">
                                <p class="qFont"><b>Q.</b> {{question.question}}?</p>
                            </div>
                            <div class="col-xs-12" style="color:gray">
                            	<span>By - {{question.createdBy}}</span>
                            	<span class="pull-right">Views - {{question.views}}</span>
                            </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
</div>