<div>
	<div class="container-fluid">
		<div class="row">
			<div class="row">
	            <div class="col-xs-12" style="min-height:556px">
	            	<div class="row">
		            	<div class="col-xs-12 trendingTitle">
		            		Latest Roasts
		            	</div>
		            </div>
	                <div class="col-xs-12 trendBlock hand" ng-repeat="content in roastList | orderBy:'-position'">
	                    <div class="row" ng-click="goToRoast(content)">
	                    	<div class="row">
		                        <div class="col-xs-12">
		                            <img src="{{content.bannerUrl}}" class="roasteeImg" />
		                        </div>
		                    </div>
	                        <div class="col-xs-12">
	                        	<p style="margin-top:10px;font-size:16px;border-bottom: 1px solid gainsboro;color:grey">
	                        		<span>{{content.type}}</span>
	                        		<span class="pull-right">Views - {{content.views}}</span>
	                        	</p>
	                        </div>
	                        <div class="col-xs-12">
	                        	<p class="roastListFont">{{content.title}}</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
