<div>
	<div class="container-fluid">
		<div class="row">
	        <div class="row">
	            <div class="col-xs-12" style="min-height:556px">
	            	<div class="row">
		            	<div class="col-xs-12 trendingTitle">
		            		Trending Now
		            	</div>
		            </div>
	                <div class="col-xs-12 trendBlock hand" ng-repeat="content in roastList.slice().reverse()">
	                    <div class="row" ng-click="goToRoast(content)">
	                    	<div class="row">
		                        <div class="col-xs-12">
		                            <img src="{{content.bannerUrl}}" class="roasteeImg" />
		                        </div>
		                    </div>
	                        <div class="col-xs-12">
	                        	<p style="margin-top: 10px;border-bottom: 1px solid gainsboro;color:grey">{{content.type}}</p>
	                        </div>
	                        <div class="col-xs-12">
	                        	<p class="roastListFont">{{content.title}}</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-xs-12 trendBlock hand" ng-repeat="question in questions">
	                    <div class="row" ng-click="goToDebate(question)">
	                         <div class="col-xs-12">
                                <p class="qFont"><b>Q.</b> {{question.question}}?</p>
                            </div>
                            <div class="col-xs-12" style="color:gray">
                            	<span>By - {{question.createdBy}}</span>
                            	<span class="pull-right">Views - {{question.views}}</span>
                            </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
</div>